<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Envoyer une Notification</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goToHome()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notification Personnalisée</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Patient</ion-label>
        <ion-select [(ngModel)]="patientId" placeholder="Choisir un patient">
          <ion-select-option *ngFor="let patient of patients" [value]="patient.id">
            {{ patient.fullname }} ({{ patient.email }})
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Message</ion-label>
        <ion-textarea [(ngModel)]="message" rows="3"></ion-textarea>
      </ion-item>
      <ion-button expand="block" color="tertiary" (click)="sendNotification()" [disabled]="!patientId || !message">
        Envoyer Notification
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>