// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #007bff; // Bleu santé
    --ion-color-primary-rgb: 0, 123, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #006be0;
    --ion-color-primary-tint: #1a8cff;
  
    --ion-color-success: #28a745;
    --ion-color-success-rgb: 40, 167, 69;
    --ion-color-danger: #dc3545;
    --ion-color-danger-rgb: 220, 53, 69;
  }